{:deps    {org.clojure/clojure              {:mvn/version "1.10.3"}
           org.clojure/clojurescript        {:mvn/version "1.10.914"}
           thheller/shadow-cljs             {:mvn/version "2.17.0"}
           org.apache.tika/tika-core        {:mvn/version "1.28"}
           org.apache.tika/tika-parsers     {:mvn/version "1.28"}
           com.walmartlabs/lacinia-pedestal {:mvn/version "1.1"}
           prismatic/schema                 {:mvn/version "1.2.0"}
           io.aviso/logging                 {:mvn/version "0.2.0"}
           expound/expound                  {:mvn/version "0.9.0"}
           reagent/reagent                  {:mvn/version "0.10.0"}}
 :paths   ["src" "resources"]
 :aliases {:back {:extra-paths ["test" "resources-back"]
                  :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.2.0"}}}}}
