{:objects
 {:Metadata
  {:description "A document's metadata."
   :fields
   {:creation_time {:type String}}}

  :Document
  {:description "A document."
   :fields
   {:file_path {:type String}
    :metadata {:type :Metadata}}}}

 :queries
 {:get_metadata
  {:type        :Document
   :description "Get the metadata of a document given its path."
   :args
   {:file_path {:type String}}
   :resolve     :query/get-metadata}}}
