{:objects
 {:Metadata
  {:description "A document's metadata."
   :fields
   {:content_type      {:type String}
    :creation_time     {:type String}
    :access_time       {:type String}
    :modification_time {:type String}}}

  :Document
  {:description "A document."
   :fields
   {:file_path {:type String}
    :metadata  {:type :Metadata}}}}

 :queries
 {:extract_metadata
  {:type        :Document
   :description "Get the metadata of a document given its path."
   :args
   {:file_path {:type String}}
   :resolve     :query/extract-metadata}}}
